body{
    
    margin:0px;
    
}
h1{
    
    font-size:36px;
    
}
.title{
    
    text-align:center;
    font-family:Chalkduster;
    font-style:;
    font-variant:small-caps;
    
}
.posts{
    
    font-family:American Typewriter;
    font-style:;
    font-variant:;
    margin-top:25px;
    margin-bottom:25px;
    
}
.body{
    
    
    
}
#body-img-align{
    
    text-align:center;
    
}
.img{
    
    width:50%;
    
}
.encompass{
    
    border:10px solid #3aeb34;
    margin:0px;
}
.encompass2{

    border:10px solid #30fff1;
    margin:0px;

}
.encompass3{

    border:10px solid #e76ffc;
    margin:20px;

}